/*card stylings*/
.card{
    margin-top: 25px;
    margin-bottom: 25px;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none; /* Remove bullets from list */
    padding: 0; /* Remove padding from list */
    margin: 0; /* Remove margins from list  */
  }
/* list element styling so it stands out */
li {
    background-color: #e0f2f1;
    font-size: 25px;
}
/* heading styling for visual appeal */ 
h1 {
    color: #009c9d;
}